//Enlace que permite importar mis variables --> _vars.scss
@import "vars";
@import "headergeneral";
@import "footergeneral";

/* Estructura general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $tipografiaGeneral;

    body{/* Color de fondo de pantalla. Estoy pensando si lo quiero blanco o de otro color */
        background-color: rgb(251, 248, 248);
    }
}


/* Página index */
div.boxModel{/* Corresponde al margen de index o de inicio*/
    background-color: aqua;
    width: 400px;
    height: auto;
    margin: 100px auto;
    border: 2px solid blue;
    padding: 20px;

    header {/* Borde que contiene la imagen del avatar en index */
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 3px solid black;
    }

    h1 {/* marco del "Bienvenido" */
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
    }

    .divider{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main form{/* Marco del formulario */
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    a{/* Futuro boton para ingresar */
        text-decoration: none;
        background-color: blue;
        color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        &:hover{/* Cambio de color al colocar el Mouse en el boton */
            background-color: black;
        }
    }

    .no-ingreso{/* Formato de los botones que serian para NO ingresar */  
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        & .reset{/* Boton de resetear */
            background-color: yellow;
            border-radius: 20px;
            display: flex;
            justify-content: center;
        }

        & .forget{/* Link de "Olvido su contraseña?" */
            background-color: yellow;
            border-radius: 20px;
            display: flex;
            justify-content: center;
        }
    }
}